<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3> Bonjour <%= @collected_data.first_name %> <%= @collected_data.last_name %>, </h3>
    <p>
      Votre demande de benchmark a bien été prise en compte. Vous recevrez une analyse personnalisée par Argon Consulting sous 48h.
    </p>
    <footer>
      <h4 style="margin:0;"> Cordialement,</h4>
      <h4  style="margin:0;"> L'équipe Trust&Bench </h4>
    </footer>
  </body>
</html>
